<!DOCTYPE html>
<html lang="en">
  <head>
    {% if title %}
    <title>{{ title }} - microblog</title>
    {% else %}
    <title>microblog</title>
    {% endif %}
    <!-- Bootstrap -->
    <link href="/static/css/bootstrap.min.css" rel="stylesheet" media="screen">
    <link href="/static/css/bootstrap-responsive.css" rel="stylesheet">
    <script src="http://code.jquery.com/jquery.js"></script>
    <script src="/static/js/bootstrap.min.js"></script>
    <script src="/static/js/moment.min.js"></script>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% if g.locale != 'en' %}
        <script src="/static/js/moment-{{ g.locale }}.min.js"></script>
    {% endif %}
    <script>
    function translate(sourceLang, destLang, sourceId, destId, loadingId) {
        $(destId).hide();
        $(loadingId).show();
        $.post('/translate', {
            text: $(sourceId).text(),
            sourceLang: sourceLang,
            destLang: destLang
        }).done(function(translated) {
            $(destId).text(translated['text'])
            $(loadingId).hide();
            $(destId).show();
        }).fail(function() {
            $(destId).text("{{ _('Error: Could not contact server.') }}");
            $(loadingId).hide();
            $(destId).show();
        });
    }
    </script>
  </head>
  <body>
    <!--Menu bar-->
    <nav class="navbar navbar-default">
        <div class="container-fluid">
            <div class="navbar-header">
                <a href="#" class="brand">Microblog</a>
            </div>
            <ul class="nav navbar">
                <li {%- if request.path == "/index" %} class="active"{% endif %}>
                    <a href="{{ url_for('index') }}">{{ _('Home') }}</a>
                </li>

                {% if current_user.is_authenticated %}
                <li {%- if request.path == (url_for('user', nickname=current_user.nickname)) %} class="active"{% endif %}>
                    <a href="{{ url_for('user', nickname=current_user.nickname) }}">{{ _('Your Profile') }}</a></li>
                <li><a href="{{ url_for('logout') }}">{{ _('Logout') }}</a></li>
                </li>
                {% endif %}
            </ul>
        </div>
    </nav>
    <!--Error handler-->
    {% with errors = get_flashed_messages(category_filter=["error"]) %}
    {% if errors %}
    <div class="alert alert-danger">
        <button type="button" class="close" data-dismiss="alert">&times;</button>
        <ul>
        {%- for msg in errors %}
        <li><b>{{ _('Error:') }}</b> {{ msg }}</li>
        {% endfor -%}
        </ul>
    </div>
    {% endif %}
    {% endwith %}
    {% with infos = get_flashed_messages(category_filter=["info"]) %}
    {% if infos %}
    <div class="alert alert-success">
        <button type="button" class="close" data-dismiss="alert">&times;</button>
        <ul>
        {%- for msg in infos %}
        <li><b>{{ _('Info:') }}</b> {{ msg }}</li>
        {% endfor -%} 
        </ul>
    </div>
    {% endif %}
    {% endwith %}
    <!--Body content -->
    <div class="container">
        {% block content %}{% endblock %}
    </div>
  </body>
</html>