<!DOCTYPE html>
<html lang="en">
  <head>
    {% if title %}
    <title>{{ title }} - microblog</title>
    {% else %}
    <title>microblog</title>
    {% endif %}
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- Bootstrap -->
    <link href="/static/css/bootstrap.min.css" rel="stylesheet" media="screen">
    <link href="assets/css/bootstrap-responsive.css" rel="stylesheet">
  </head>
  <body>
    <script src="http://code.jquery.com/jquery.js"></script>
    <script src="/static/js/bootstrap.min.js"></script>
    {% with errors = get_flashed_messages(category_filter=["error"]) %}
    {% if errors %}
    <div class="alert alert-danger">
        <button type="button" class="close" data-dismiss="alert">&times;</button>
        <ul>
        {%- for msg in errors %}
        <li><b>Error:</b> {{ msg }}</li>
        {% endfor -%}
        </ul>
    </div>
    {% endif %}
    {% endwith %}
    {% with infos = get_flashed_messages(category_filter=["info"]) %}
    {% if infos %}
    <div class="alert alert-success">
        <button type="button" class="close" data-dismiss="alert">&times;</button>
        <ul>
        {%- for msg in infos %}
        <li><b>Info:</b> {{ msg }}</li>
        {% endfor -%} 
        </ul>
    </div>
    {% endif %}
    {% endwith %}

    <nav class="navbar navbar-default">
        <div class="container">
            <div class="navbar-header">
                <a href="/index" class="navbar-brand">Microblog</a>
            </div>

            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ol class="nav navbar-nav">
                    <li class="active"><a href="{{ url_for('index') }}">Home</a>
                    </li>
                    {% if current_user.is_authenticated %}
                    <li>
                        <a href="{{ url_for('user', nickname=current_user.nickname) }}">Your Profile</a>
                    </li>
                    <li>
                        <a href="{{ url_for('logout') }}">Logout</a>
                    </li>
                    {% endif %}
                </ol>
            </div> 
            <!--Body content-->
            {% block content %}{% endblock %}
        </div>
  </body>
</html>