<!-- extend base layout -->
{% extends "base.html" %}

{% block content %}
<h1>Edit Your Profile</h1>
  <form class="form-horizontal" action="" method="post" name="edit">
      <div class="control-group">
        {{form.hidden_tag()}}
        <label class="control-label" for="nickname">Your nickname:</label>
        <div class="controls">
          {{ form.nickname(size=24) }}
        </div>
        {% for error in form.errors.nickname %}
        <div class="alert alert-danger">
          <b>Error: </b> {{ error }}
        </div>
        {% endfor %}
      </div>
      <div class="control-group">     
          <label class="control-label" for="about_me">About yourself:</label>
          <div class="controls">
            {{ form.about_me(cols=32, rows=4) }}
          </div>
      </div>
      <div class="control-group">
        <div class="controls">
          <button type="submit" class="btn">Save Changes</button>
        </div>
      </div>
  </form>
{% endblock %}