{% extends "base.html" %}
{% block content %}
    {% if current_user.is_authenticated %}
        <h2>Hi, {{ current_user.nickname }}!</h2>
        <p> your email is: {{ current_user.email }} </p>
        <p><a href="{{ url_for('logout') }}">Logout</a></p>
        <form action="" method="post" name="post">
            {{ form.hidden_tag() }}
            <p><label for="post">Say something:</label><br>
                {{ form.post(size=30, maxlength=140) }}
                   
                {% for error in form.post.errors %}
                <p><span style="color: red;">[{{ error }}]</span><br>
                {% endfor %}
                </p>
            </p>
            <p><input type="submit" value="Post!"></p>
        </form>
        <h2> List of posts </h2>
        <!-- posts is a Paginate object -->
        {% for post in posts.items %}
    		{% include 'post.html' %}
    	{% endfor %}
        <!-- Newer or Older posts -->
        {% if posts.has_prev %}
            <a href="{{ url_for('index', page=posts.prev_num) }}">&lt;&lt; Newer posts</a>
        {% else %}
            &lt;&lt; Newer posts
        {% endif %} | 
        {% if posts.has_next %}
            <a href="{{ url_for('index', page=posts.next_num) }}">Older posts &gt;&gt;</a>
        {% else %}
            Older posts &gt;&gt;
        {% endif %}

    {% else %}
        <h2>You are not logged in!</h2>
        <p><a href="{{ url_for('oauth_authorize', provider='facebook') }}">Sign it with Facebook</a></p>
        <p><a href="{{ url_for('oauth_authorize', provider='twitter') }}">Sign it with Twitter</a></p>
    {% endif %}
{% endblock %}