{% extends "base.html" %}
{% block content %}
    {% if current_user.is_authenticated %}
    <div class="well">
        {% autoescape false %}
        <h2>{{ _('Hi, %(nickname)s !', nickname = current_user.nickname) }}</h2>
        {% endautoescape %}
        <p><i class="icon-envelope"></i> {{ _('Your email is:') }} {{ current_user.email }} </p>
        <p>
            {% autoescape false %}
            {{ _('%(logout)', logout = '<a href="%s">%s</a>' % (url_for('logout'), 'Logout')) }}
            {% endautoescape %}
        </p>
        <form action="" method="post" name="post">
            <fieldset>
                {{ form.hidden_tag() }}
                <label for="post">{{ _('Say something:') }}</label>
                {{ form.post(size=30, maxlength=140) }} 
                <ul>
                    {% for error in form.post.errors %}
                    <div class="alert alert-danger">
                        <li><b>{{ _('Error:') }} </b> {{ error }}</li>
                    </div>
                    {% endfor %}
                </ul>
                <br>   
                <button type="submit" class="btn">{{ _('Post!') }} </button>
            </fieldset>
        </form>
    </div>
    <div class="well">
        <h2>{{ _('List of posts') }} </h2>
        <!-- posts is a Paginate object -->
        {% for post in posts.items %}
        <div style="min-height:60px">
    		{% include 'post.html' %}
        </div>
    	{% endfor %}
        <!-- Newer or Older posts -->
        <ul class="pager">
            {% if posts.has_prev %}
            <li class="previous">
                <a href="{{ url_for('index', page=posts.prev_num) }}">&larr; {{ _('Newer') }}</a>
            </li>
            {% else %}
            <li class="previous disabled">
                <a href="#">&larr; {{ _('Newer') }}</a>
            </li>
            {% endif %}
            {% if posts.has_next %}
            <li class="next">
                <a href="{{ url_for('index', page=posts.next_num) }}">{{ _('Older') }} &rarr;</a>
            </li>
            {% else %}
            <li class="next disabled">
                <a href="#">{{ _('Older') }} &rarr;</a>
            </li>
            {% endif %}
        </ul>
    </div>
    {% else %}
    <h2>{{ _('You are not logged in!') }}</h2>
        <p><a href="{{ url_for('oauth_authorize', provider='facebook') }}">{{ _('Sign it with Facebook') }}</a></p>
        <p><a href="{{ url_for('oauth_authorize', provider='twitter') }}">{{ _('Sign it with Twitter') }}</a></p>
    {% endif %}
{% endblock %}