<!-- extend base layout -->
{% extends "base.html" %}

{% block content %}
<h1>User: {{ user.nickname }}!</h1>
  <div style="width:40%;height:20%">
    <p><img class="img-polaroid" src="{{ user.picture }}" style="width:20%;" align="left">
    {% if user.about_me %} 
    <p>{{ user.about_me}}</p>
    {% else %}
    <p>Nothing described yet :(</p>
    {% endif %}
    {% if user.last_seen %} 
    <p><i>Last seen on: {{ user.last_seen}} </i></p>
    {% endif %}
    <p>{{ user.followers.count() }} followers |
    {% if user.id == current_user.id %}
    <p><a href="{{ url_for('edit') }}">Edit your profile</a></p>
    {% elif not current_user.is_following(user) %}
    <p><a href="{{ url_for('follow', nickname=user.nickname) }}">Follow</a></p>
    {% else %}
    <p><a href="{{ url_for('unfollow', nickname=user.nickname) }}">Unfollow</a></p>
    {% endif %}
    </p>
  </div>
  <hr>
  <div>
    <!-- posts is a Paginate object -->
    {% for post in posts.items %}
        {% include 'post.html' %}
    {% endfor %}
    <ul class="pager">
      {% if posts.has_prev %}
      <li class="previous">
        <a href="{{ url_for('user', nickname=user.nickname, page=posts.prev_num) }}">&larr; Newer</a>
      </li>
      {% else %}
      <li class="previous disabled">
        <a href="#">&larr; Newer</a>
      </li>
      {% endif %}  
        
      {% if posts.has_next %}
      <li class="next">
        <a href="{{ url_for('user', nickname=user.nickname, page=posts.next_num) }}">Older &rarr;</a>
      </li>
      {% else %}
      <li class="next disabled">
        <a href="#">Older &rarr;</a>
      </li>
      {% endif %}
    </ul>
    </div>
  </div>
{% endblock %}