<!-- extend base layout -->
{% extends "base.html" %}

{% block content %}
<div class="well">
  {% autoescape false %}
  <h1>{{ _('User: %(nickname)s !', nickname = user.nickname) }} </h1>
  {% endautoescape %}
    <img class="img-polaroid" style="max-width:140px; max-height:auto;" src="{{ user.picture }}" align="left">
  <div style="padding-left:170px;min-height:180px">
    {% if user.about_me %} 
    {% autoescape false %}
    <p>{{ _('%(about)', about = user.about_me) }}</p>
    {% endautoescape %}
    {% else %}
    <p>{{ _('Nothing described yet :(') }}</p>
    {% endif %}
    {% if user.last_seen %} 
    {% autoescape false %}
    <p><em>{{ _('Last seen: %(when)', when = momentjs(user.last_seen).calendar()) }}</em></p>
    {% endautoescape %}
    {% endif %}
    <p>{{ user.followers.count() }} {{ _('followers') }} </p>
    {% if user.id == current_user.id %}
    <p>
      {% autoescape false %}
      {{ _('%(edit)', edit = '<a href="%s">%s</a>' % (url_for('edit'), 'Edit your profile')) }}
      {% endautoescape %}
    </p>
    {% elif not current_user.is_following(user) %}
    <p>
      {% autoescape false %}
      {{ _('%(follow)', follow = '<a href="%s">%s</a>' % (url_for('follow', nickname=user.nickname), 'Follow')) }}
      {% endautoescape %}
    </p>
    {% else %}
    <p>
      {% autoescape false %}
      {{ _('%(unfollow)', unfollow = '<a href="%s">%s</a>' % (url_for('unfollow', nickname=user.nickname), 'Unfollow')) }}
      {% endautoescape %}
    </p>
    {% endif %}
  </div>
</div>

<!-- posts is a Paginate object -->
<div class="well">
  {% for post in posts.items %}
  <div style="min-height:60px">
      {% include 'post.html' %}
  </div>
  {% endfor %}
  <ul class="pager">
    {% if posts.has_prev %}
    <li class="previous">
      <a href="{{ url_for('user', nickname=user.nickname, page=posts.prev_num) }}">&larr; {{ _('Newer') }}</a>
    </li>
    {% else %}
    <li class="previous disabled">
      <a href="#">&larr; {{ _('Newer') }}</a>
    </li>
    {% endif %}  
      
    {% if posts.has_next %}
    <li class="next">
      <a href="{{ url_for('user', nickname=user.nickname, page=posts.next_num) }}">{{ _('Older') }} &rarr;</a>
    </li>
    {% else %}
    <li class="next disabled">
      <a href="#">{{ _('Older') }} &rarr;</a>
    </li>
    {% endif %}
  </ul>
</div>
{% endblock %}